table,th,td{
  border: 2px solid;
  border-collapse: collapse;
 }

 table[class="table2"],th,td{
  border: 2px solid;
  width:50%;
  border-collapse: collapse;
  }

  td,th{

    text-align : left;
    /*text-align : center;*/
   /* text-align : right;*/
   padding: 10px;
  }
  tr:hover{
   background-color:blue;
  }